.formControll.error input,
.formControll.error textarea {
  border: solid orange 2px;
}
.formControll.error span {
  color: red;
}

.formError {
  border: solid orange 2px;
  padding: 5px 5px 5px 5px;
  color: brown;
  /* display: inline; */
}
