.Dialogs {
    display:grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.DialogsItems {
    
}

.DialogsItems .active {
    color: white;
}

.Dialog {
    
}

.Messages {
    
}

.Messege {
    
}